<mat-card>
    <div dir="ltr">
        <h1>
            Archie Beeri
        </h1>
        <p>
            Environment:
            <strong>
                {{ getEnvironment() }}
            </strong>
        </p>
        <p>Version</p>
        <ul>
            <li>
                Archie UI:
                <strong>
                    {{ getUiVersion() }}
                </strong>
            </li>
            <li>
                Angular Core:
                <strong>
                    {{ getAngularVersion() }}
                </strong>
            </li>
            <li>
                Angular Material:
                <strong>
                    {{ getMaterialVersion() }}
                </strong>
            </li>
            <li>
                Archie API:
                <strong>
                    {{ apiVersion }}
                </strong>
            </li>
        </ul>
    </div>
</mat-card>