.summary-header {
  margin: 2em 0;
}

.summary-key {
  font-weight: bold;
}

.summary-value {
  margin-right: 0.2em;
  margin-left: 1em;
}

.table-headers {
  font-weight: bold;
}

.table-headers,
.table-row {
  border-bottom: 1px solid black;
  padding: 1em 0;
}

.table-column {
  text-align: right;
}

.imported {
  color: green;
}

.rejected {
  color: red;
}