<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="1em">
    <h1>ברוכים הבאים לארכיון קיבוץ בארי</h1>
    <div>
      <strong>הארכיון מכיל: </strong>
      <span>{{ getDcTypeCount("text") | number }} </span>
      <span>מסמכי טקסט</span>
      <span> | </span>
      <span> {{ getDcTypeCount("image") | number }} </span>
      <span>תמונות</span>
      <span> | </span>
      <span> {{ getDcTypeCount("audio") | number }} </span>
      <span>קבצי אודיו</span>
      <span> | </span>
      <span> {{ getDcTypeCount("video") | number }} </span>
      <span>סרטוני וידאו</span>
    </div>

    <mat-form-field appearance="legacy" class="searchbox">
      <input  #searchBox matInput placeholder="הקלידו מילה או ביטוי לחיפוש, או כוכבית למציאת כל המסמכים." (keyup.enter)="search(searchBox.value)">
      <mat-icon matSuffix ngOnc>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search(searchBox.value)">
      חיפוש
    </button>

  </div>
</div>